.landing {
  background-image: url("../../images/landing.png");
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  display: flex;
  margin: 30% 5%;

  padding: 10px 50px;
  background-color: transparent;

  color: #41d3c0;
  letter-spacing: 2px;
  font-size: 20px;
  text-decoration-line: none;
  text-decoration: none;
  overflow: hidden;
  transition: 1s;
  border: solid 1px;
  border-radius: 50px;
}

.button:hover {
  cursor: pointer;
  color: #ffffff;
  border: #41d3c0;
  background: #41d3c0;
  box-shadow: 0 0 4px #41d3c0, 0 0 20px #41d3c0, 0 0 40px #41d3c0;
}
.logo {
  width: 250px;
  position: absolute;
  padding: 1rem;
  margin-left: 3%;
}
