.Users_Main {
    background-color: rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Users_Second {
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction:column;
    border-radius: 30px;
    font-style: italic;
    font-weight: 600;

}

.Users_Sections_Titles {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}  

.Users_Unit_Box {
    height: 500px;
    overflow:auto;
    margin-bottom: 20px;
}

.Users_Unit {
    display: flex;
    align-items: row;
    align-items: center;
    border-top: 2px solid #009A88;
    padding: 5px;

}

.Users_photo {
    height: 80px;
    margin: 0px 20px;
    border-radius: 5px;
}

.Users_Text1 {
    font-size: 20px;
    width: 150px;
}

.Users_Text2 {
    width: 100px;
}
.Users_Text3 {
    width: 200px;
}
.Users_Text4 {
    width: 150px;
}

.Users_Button_Box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
}

.Users_Button {
    background-color: #009A88;
    border-radius: 5px;
    width: 100px;
    color: white;
    padding: 2px;
}