.login h2{
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    transform: translateX(-70px);
    font-size: x-large;
    color: antiquewhite;
}

.c-input{
    width: 250px;
    background: none;
    padding: 20px;
}

.c-input .data{
    height: 30px;
    width: 100%;
    position: relative;
}

.c-input .data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid white;
    outline: none;
    background: none;
    color: white;
    font-family: "Poppins", sans-serif;
}

.data input:focus ~ span, .data input:valid ~ span{
    transform: translateY(-15px);
    color:#13ce66;
    font-size: small;
}

.data input:focus, .data input:valid{
    border-bottom: 2px solid #13ce66;
}

.c-input .data span{
    position: absolute;
    bottom: 8px;
    left: 0;
    color: white;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}

.btn-google:hover{
    background-color: #F97D67;
    color:white;
    transition: all 0.3s ease;
}